h1{
	color:orange;
	background-color:purple;
}
h2{
	background-color:red;
	color:orange;
}
p{
	background-color:blue;
	color:yellow:
}
ul{background-color:orange;
	color:red;
}
a:link{
	background-color:yellow;
	color:brown;
}

.shrek{
	background-color:green;
}
.ananas{
	background-color:yellow;
	color:brown;

	
